# Python
__pycache__/
*.py[cod]
*.so

# Poetry
.venv/
poetry.lock

# Environment
.env
.env.*

# Distribution
dist/
build/
*.egg-info/
*.egg
MANIFEST
.eggs/

# VS Code
.vscode/
*.code-workspace

# OS/System
.DS_Store
Thumbs.db

# Docker/Postgres
*.log
*.pid
data/
